mixin toggle({ className = '', name = 'toggle', value = 'on', text = 'toggle', checked = false })

  - const classes = checked ? `toggle js-toggle toggle_active ${className}` : `toggle js-toggle ${className}`

  label(class = classes)
    input.toggle__checkbox.js-toggle__checkbox(type = "checkbox", name = name, value = value)
    span.toggle__switch
      span.toggle__circle
    span.toggle__text #{text}

    