mixin toggle({ name = 'toggle', value = 'on', text = 'toggle', checked = false })

  - const checkedClass = checked ? 'toggle_active' : ''

  label(class = ['toggle', 'js-toggle', checkedClass])
    input.toggle__checkbox.js-toggle__checkbox(type = "checkbox", name = name, value = value)
    span.toggle__switch
      span.toggle__circle
    span.toggle__text #{text}

    