.sliders-demo
  width: 100%
  height: 500px
  display: flex
  flex: 1 1 auto
  font-family: sans-serif
  margin: 50px 0
  box-sizing: border-box
  box-shadow: 0 0 5px 5px #ccc 
  border-radius: 10px

  &__area
    flex: 1 1 auto
    display: flex
    justify-content: center
    align-items: center
    padding: 20px
    box-sizing: border-box

  &__control-panel
    width: 500px
    height: 100%
    display: flex
    flex: 0 0 auto
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    font-size: 12px
    box-sizing: border-box
    padding: 10px

    &__control-element
      width: 48%

  &_second
    & .light-range-slider
      & .light-range-slider__line
        background-color: rgba(231,87, 53, 0.3)

      & .light-range-slider__handle
        background-color: rgba(231,87, 53, 1)
        width: 10px
        height: 20px
        border-radius: 2px

      & .light-range-slider__progress-bar
        background-color: rgba(231,87, 53, 1)
      
      & .light-range-slider__label
        background-color: rgba(231,87, 53, 1)

      & .light-range-slider__scale-item
        color: rgba(231,87, 53, 0.3)

        &:hover 
          color: rgba(231,87, 53, 1)

        &:focus 
          color: rgba(231,87, 53, 1)
          outline: none

    & .light-range-slider_vertical
      & .light-range-slider__handle
        width: 20px
        height: 10px

  &_third
    & .light-range-slider__handle
      background-color: #8b9dc3

    & .light-range-slider__progress-bar
      background-color: #8b9dc3
    
    & .light-range-slider__label
      background-color: #8b9dc3

    & .light-range-slider__scale
      & .light-range-slider__scale-item
        &:hover 
          color: #8b9dc3

        &:focus 
          color: #8b9dc3
          outline: none