@import '../variables.sass'
  
.text-field
  box-sizing: border-box
  width: 100%
  height: fit-content
  
  &__title
    margin: 0 0 5px 0
    text-transform: uppercase

  &__field
    width: 100%
    height: 44px
    background: $color-main-bg
    border: 1px solid $color-font-dark-25
    box-sizing: border-box
    border-radius: 4px
    font-weight: $normal
    color: $color-font-dark-25
    font-size: 13.7px
    line-height: 18px
    padding: 13px 15px

    &:disabled
      opacity: 0.25
      cursor: default

    &:hover, &:focus, &:focus-visible
      border: 1px solid $color-font-dark-50
      color: $color-font-dark
      line-height: 18px
      outline: none


    &::-webkit-input-placeholder 
      font-weight: $normal
      color: $color-font-dark-25
      font-size: 13.7px
      line-height: 18px

    &::-moz-placeholder          
      font-weight: $normal
      color: $color-font-dark-25
      font-size: 13.7px
      line-height: 18px

    &:-moz-placeholder          
      font-weight: $normal
      color: $color-font-dark-25
      font-size: 13.7px
      line-height: 18px

    &:-ms-input-placeholder      
      font-weight: $normal
      color: $color-font-dark-25
      font-size: 13.7px
      line-height: 18px

    &:focus::-webkit-input-placeholder 
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75

      border: none

    &:focus::-moz-placeholder          
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none

    &:focus:-moz-placeholder           
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none

    &:focus:-ms-input-placeholder      
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none

    &:hover::-webkit-input-placeholder 
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none

    &:hover::-moz-placeholder          
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none

    &:hover:-moz-placeholder           
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none
      
    &:hover:-ms-input-placeholder      
      border: 1px solid $color-font-dark-50
      color: $color-font-dark-75
      border: none

  

      