include ./components/sliders-demo/sliders-demo.pug

head 

body
  .demo 
    +slidersDemo('first')
    +slidersDemo('second')
    +slidersDemo('third')

  script(src = '../../node_modules/jquery/dist/jquery.js') 

  
