$main-font:  Montserrat, Arial, sans-serif
$normal: 500
$bold: 700

$color-font-dark: #1F2041
$color-font-dark-75: rgba(31, 32, 65, 0.75)
$color-font-dark-50: rgba(31, 32, 65, 0.5)
$color-font-dark-25: rgba(31, 32, 65, 0.25)
$color-font-dark-10: rgba(31, 32, 65, 0.1)
$color-font-dark-5: rgba(31, 32, 65, 0.05)
$color-font-light: #fff
$color-main-bg: #fff
$color-primary: #BC9CFF
$color-secondary: #6FCF97
$color-accent: #8BA4F9

=gradient
  background: linear-gradient(180deg, $color-primary 0%, $color-accent 100%)

=start-page-stiles
  html
    font-family: $main-font
    font-weight: $normal
    font-size: 14px
    line-height: 24px

  h1
    font-family: $main-font
    font-weight: $bold
    font-size: 24px
    line-height: 29.26px

  h2
    font-family: $main-font
    font-weight: $bold
    font-size: 19px
    line-height: 23.16px

  h3
    font-family: $main-font
    font-weight: $bold
    font-size: 12px
    line-height: 14.63px